<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WbTstr:EnableDebug" value="True" />
    <add key="WbTstr:UseWebDriver" value="Chrome"/>
    <add key="WbTstr:UseBrowserStack" value="False" />
    <add key="WbTstr:EnableDryRun" value="False" />
    <add key="WbTstr:EnableBrowserStackLocal" value="True" />
    <add key="WbTstr:WebsiteUnderTestBaseUrl" value="http://wbtstr.net-testbed.dt-dev1.mirabeau.nl/" />
    <add key="WbTstr:BrowserStackProject" value="WbTstr.Net" />
    <add key="WbTstr:ConfigFile" value="C:\Projects\wbtstr.config" />
    <add key="WbTstr:DataFile" value="C:\Projects\wbtstr.xml" />

    <add key="Dummy_StringSetting" value="important"/>
    <add key="Dummy_IntegerSetting" value="42"/>
    <add key="Dummy_BooleanSetting" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
