
@{
    ViewBag.Title = "Index";
}

<h2>FluentAutomation Testbed Index</h2>

<ul class="nav nav-pills nav-stacked">
    <li><a href="/Alerts">Alerts</a></li>
    <li><a href="/Inputs">Inputs</a></li>
    <li><a href="/Scrolling">Scrolling</a></li>
    <li><a href="/Text">Text</a></li>
    <li><a href="/DragAndDrop">Drag and Drop</a></li>
</ul>