<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0llsAYKLNkWkq+IigkVKhgAAAAACAAAAAAAQZgAAAAEAACAAAADhf9LelydcoL7jMts13/aHaAloXjYxcICU18kErzzuGAAAAAAOgAAAAAIAACAAAACFYpMK4Zsvp0WsUuNItDARkAFW9O08/wDhaR86H+IRVTAAAACVntD/tC4LLiKE6b97ip5X/5lWzE6EUVOE+UAt82nz657dTbktfjgOiKcnj1tht8VAAAAArwYtH+NfTzFZNaZARPmnQJxnUXZkkWTqI0bFAxaD4Y9q+lfYGRBLvtd8BH6Wz7IwCdg/5B7egyueqGBdhr8q3g==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0llsAYKLNkWkq+IigkVKhgAAAAACAAAAAAAQZgAAAAEAACAAAACgpe+IQy6uuxq0Rc33dmQ4P73y4obTKwSmD4wucfl8nQAAAAAOgAAAAAIAACAAAAB/pLJXemzJJWQMcWEJYhpzex3+WT7apm6a87sRHjXGGjAAAAAWY0ZKh0KYDXuQ/TbLcEHWw7ey2nWq+nb/2Gy1XI/lwW7BQ9SjTWLEbUII9ZT2eKVAAAAA9784LfjDxLq3szRPGAk9Qs4BbhFjDrL8HAIH+3PWgTYYWSiVv4bEMIcdrNYWF8SIoSHzO+CSWcAHT4Rd3+4LrQ==" />
  </apikeys>
</configuration>