@{
    ViewBag.Title = "Switch";
}

<h2>Switch Testbed</h2>

<a id="new-window" href="/Inputs" target="_blank">Go to Inputs (in new window)</a>
<br /><br />
<iframe src="/Alerts" width="500" height="500"></iframe>
